svg {
  width: 5000px;
  height: 5000px;
}

* {
  font-family: sans-serif;
}

.value,
.macro {
  opacity: 0;
}

#showMacro,
#showValue {
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 5px;
}

#showValue {
  top: 40px;
}
