#path {
  display: flex;
  align-items: center;

  button {
    padding-right: 10px;
    padding-left: 3px;

    border: none;
    background: none;

    font-size: 16px;
    font-weight: 600;
  }

  img {
    height: 20px;
  }
}
