/*body {
    background-color: aqua;
}*/

.categorial-buttons {
  margin-top: 1em;
}

.button-category {
  margin: 1em;
  padding: 1em;

  border: none;
  background: none;
}

.button-category span {
  display: flex;
  justify-content: center;

  margin: 1em;
}

.button-category:focus {
  color: $main-color;
  outline: none;
}

.button-active {
  color: $main-color;
}
