.map svg {
  height: 350px;
  margin-top: 50px;
}

.macro {
  visibility: hidden;

  transition: 0.3s all ease;

  opacity: 0;
}

.showMacro {
  visibility: visible;

  opacity: 1;
}

.macroSquare {
  visibility: visible;

  transition: 1s all ease;
}

.options--macro,
.options--value {
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.options--value {
  top: 40px;
}

.pulse {
  .switch {
    animation: pulse 2s;

    border-radius: 34px;
  }

  .slider.round {
    border-color: $main-color;
  }

  .slider.round:before {
    background: $main-color;
  }
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(127, 205, 144, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(127, 205, 144, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(127, 205, 144, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(127, 205, 144, 0.4);
    box-shadow: 0 0 0 0 rgba(127, 205, 144, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 20px rgba(127, 205, 144, 0);
    box-shadow: 0 0 0 20px rgba(127, 205, 144, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(127, 205, 144, 0);
    box-shadow: 0 0 0 0 rgba(127, 205, 144, 0);
  }
}

rect.meso:hover {
  cursor: pointer;
  transition: 0.3s all ease;

  fill: rgb(255, 195, 98);
}

.tooltip {
  position: absolute;
  z-index: 10;

  visibility: hidden;

  font-size: 14px;
}

#path button {
  cursor: pointer;
  transition: 0.3s all ease;
}

#path button:hover {
  color: $main-color;
}
