.map svg {
  height: 350px;
  margin-top: 50px;
}

.value,
.macro {
  transition: 0.3s all ease;

  opacity: 0;
}

.macroSquare {
  transition: 1s all ease;
}

.options--macro,
.options--value {
  position: fixed;
  z-index: 1;
  top: 5px;
  left: 5px;
}

.options--value {
  top: 40px;
}
