.treemap rect.rect {
  cursor: pointer;
  transition: 0.3s all ease;
}

.treemap svg {
  width: 1000px;
  height: 0px;

  transition: 0.8s all cubic-bezier(0.65, 0.05, 0.36, 1);

  background: rgba(127, 205, 144, 0.69);
}

.treemap--active svg {
  height: 450px;
}

.treemap--loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  width: 1000px;
  height: 450px;

  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;

  background: linear-gradient(270deg, hsl(157, 21%, 73%), #e7e5e5, #b7cabf, #e7e5e5);
  background-size: 800% 800%;

  h3 {
    margin-bottom: 0px;

    opacity: 0.8;
  }
  p {
    opacity: 0.6;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
