$main-color: #7fcd91;

@import 'styles/categorial-buttons';
@import 'styles/flipper';
@import 'styles/map';
@import 'styles/treemap';
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

svg {
  width: 1000px;
  height: 450px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}
