$main-color: #7fcd91;
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

@import 'styles/categorial-buttons';
@import 'styles/flipper';
@import 'styles/map';
@import 'styles/treemap';
@import 'styles/toggle';
@import 'styles/controls';
@import 'styles/breadcrumbs';

.map svg {
  width: 1000px;
  height: 450px;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  margin: 0;

  font-family: 'Montserrat', sans-serif;
}

.map-bg {
  position: fixed;
  z-index: -1;
  top: -20px;
  right: 70px;
  left: 0;

  width: 960px;
  margin: 0 auto;

  transition: 0.6s all ease;

  opacity: 0.3;
}

.map-bg--pos2 {
  top: -170px;
  right: 70px;
  left: -20px;

  width: 960px;
}

.categorial-buttons {
  transition: 0.6s all ease;
}

.isFlipped {
  #showMacro {
    visibility: visible;

    opacity: 1;
  }

  .categorial-buttons,
  #zoom {
    visibility: hidden;

    opacity: 0;
  }

  .map-bg {
    opacity: 1;
  }
}
